<!-- chat/templates/chat/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Welcome to My Django App</h1>
    </header>
    <nav>
        <a href="{% url 'chat:index' %}">Home</a>
        <a href="{% url 'chat:register' %}">Register</a>
        <a href="{% url 'chat:login_view' %}">Login</a>
        <a href="{% url 'chat:room' %}">Chat Room</a>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
